*{
  padding: 0px;
  margin: 0px;
  font-family: Artifakt Element;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  }

  body{
  background-color: #59BBCF;
  }


  header img{
    width: 200px;
    height: 100px;
  }

  nav{
  background-color: #E8FF51;
  height: 140px;
  width: 1600px;
  display: flex;
  justify-content: space-around; /* Space around sirve para justificar el contenido*/
  align-items: center;
  position: absolute;
  top: 0px;
  }

nav ul{
  display: flex;
}

nav ul li{
  border-right: solid 2px;
  color: #CDD510;
}

nav ul li a{
  color: #000000;
  font-size: 16px;
  padding: 12px; 25px;
  text-transform: uppercase;
}

nav ul li a: hover{
background-color: #CDD510;
transition: all 1s;
}
main h5{
  padding-top: 400px;
    color: white;
    text-align: center;
    margin: 18px;
    font-family: Staatliches Regular;
    font-size: 45px;
}
main{
  padding-top: 100px;
  display: flex;
  width: 1500px;
  height: 920px;

}


main h1{

padding-top: 300px;
  color: white;
  text-align: center;
  margin: 18px;
  font-family: Staatliches Regular;
  font-size: 45px;

}

main h2{
  padding-top: 100px;
  color: white;
  margin: 10px;
  font-family: Staatliches Regular;
  font-size: 45px;
}

main p{
  color: black;
  padding-top: 300px;
  margin: 9px;
  font-size: 24px;
  font-family: Artifakt Element;
}


main p2{
color: black;
padding-top: 100px;
margin: 10px;
padding-left: 15px;
margin-left: 10px;
font-size: 24px;
font-family: Artifakt Element;

}
div.images{
  padding-top: 120px;
}

div.galeriapb{
  padding-left: 280px;
  position: absolute;
  top: 260px;

}

div.galeriapb2{
  padding-left: 280px;
  position: absolute;
  top: 200px;
}

div.galeriapb3{
  padding-left: 280px;
  position: absolute;
  top: 250px;
}

div.galeria1{
  padding-left: 200px;
}

div.galeria2{

padding-left: 510px;
position: absolute;
top: 260px;

}

div.galeria3{

padding-left: 750px;
position: absolute;
top: 260px;
}

div.galeria4{

  padding-left: 610px;
  position: absolute;
  top: 200px;
}

div.galeria5{

padding-left: 950px;
position: absolute;
top: 200px;
}

div.galeria6{

padding-left: 980px;
position: absolute;
top: 260px;
}

div.galeria7{

padding-left: 1240px;
position: absolute;
top: 260px;
}

div.galeria8{

padding-left: 600px;
position: absolute;
top: 250px;
}

div.galeria9{

padding-left: 920px;
position: absolute;
top: 260px;
}
div.galeria10{
  padding-left: 200px;
  position: absolute;
  top: 350px;
}


div.videos{
  padding-left: 280px;
  position: absolute;
  top: 200px;

}

h3{

  font-family: Artifakt Element;
  font-size: 28px;
  position: absolute;
  color: white;
  top: 200px;
  left: 305px;
}

h4{

  font-family: Artifakt Element;
  font-size: 28px;
  position: absolute;
  color: white;
  top: 200px;
  left: 655px;
}

h6{

  font-family: Artifakt Element;
  font-size: 28px;
  position: absolute;
  color: white;
  top: 200px;
  left: 1130px;
}

h7{

  font-family: Artifakt Element;
  font-size: 28px;
  position: absolute;
  color: white;
  top: 500px;
  left: 305px;
}

footer{
  background-color: #E8FF51;
  color: black;
  display: flex;
  justify-content: center;
  width: 1600px;
  height: 90px;
  align-items: center;
}

.drawer{
  color: white;
  float: left;
  cursor: pointer;
  display: none;
  margin-left: 16px;
  padding: 3px;
  border: solid 1px;
  border-radius: 1px;
}

#ckbox{
  display: none;
}

@media(max-width: 1020px){
  nav{
      justify-content: flex-start;
    }

    .drawer{
      display: block;
    }

    #ckbox:checked ~ .menu-box{
      left: 0;
    }

    nav h1{
      margin-left: 16px;
    }

    ul{
      position: fixed;
      width: 50%;
      height: 100vh;
      background-color: #E8FF51;
      top: 18.5vh;
      text-align: left;
      transition: all 1s;
      display: flex;
      align-content: stretch;
      flex-direction: column;
      left: -100%;
    }

    nav ul li{
      padding: 16px 0;
      padding-left: 3px;
      border-bottom: solid 1px rgba(201,196,196, 0.4);
      display: flex;
      flex-direction: column;
    }

    .image{
      display: none;
    }

}
